* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    outline: none;
}
*,
:after,
:before {
    box-sizing: border-box;
}
:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-break: break-word;
    /* text-wrap: balance; */
    tab-size: 4;
}
body,
html {
    height: calc(var(--vh, 1vh) * 100);
    height: -webkit-fill-available;
    height: fill-available;
    color: #333;
    font-family: 'Nanum Gothic', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
canvas,
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
button {
    background: none;
    border:transparent;
    border: 0;
    cursor: pointer;
}
a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul,li,ol{
    list-style: none;
    border:transparent;
}